html
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font-family: sans-serif
  line-height: 1.15
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

body
  margin: 0
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  background-color: #515150

*, *::before, *::after
  box-sizing: inherit

.button
    padding: 10px 12px
    background-color: rgb(117, 7, 12)
    color: white
    width: 120px
    text-align: center
    margin: 5px
    cursor: pointer
    transition: background-color 300ms
    &:hover
      background-color: #62060a
