<% var customJS="js/index.js" %>
<% var customCSS="css/index.css" %>
<% var title="Home" %>
<% include ../partials/header %>
<body>
  <div class='whole-wrapper'>
    <div class='main'>
      <div class='slideshow'>
        <div class='slideshow-wrapper'>
          <div class='slideshow-view' style='width: <%= (imagesPath.length*100) %>vw'>
            <div class='logo'></div>
            <% for(let i = 0; i < imagesPath.length; i++){ %>
              <div class='image' style='background-image: url("<%= imagesPath[i] %>")'></div>
            <% } %>
          </div>
        </div>
        <div class='dots-wrapper'>
          <% for(let i = 0; i < imagesPath.length; i++){ %>
            <div class='dot'></div>
          <% } %>
        </div>
      </div>
      <div class='button-wrapper'>
        <div class='button'>Order Online</div>
        <div class='button'>Reservations</div>
      </div>
    </div>
    <% include ../partials/footer %>
  </div>
</body>
