<% var customJS="" %>
<% var customCSS="css/index.css" %>
<% var title="Home" %>
<% include ../partials/header %>
<body>
    <div>Hello</div>
    <div class='button'>Order Online</div>
    <div class='button'>Make reservation</div>
</body>
