<% var customJS="" %>
<% var customCSS="css/index.css" %>
<% var title="Home" %>
<% include ../partials/header %>
<body>
  <div class='whole-wrapper'>
    <div class='main'>
      <div class='slideshow-wrapper'>
        <div class='image'></div>
      </div>
      <div class='button'>Order Online</div>
      <div class='button'>Make reservation</div>
    </div>
    <% include ../partials/footer %>
  </div>
</body>
